html { box-sizing: border-box; }

*, *::before::,*::after { box-sizing:inherit; }


body { 
    background: #69A1D0;
    display: flex; 
    color: white;
    font-family: Helvetica;
    font-size: small;
    height: 100%;
    width: 100%;
    padding: 
    
}


div { 
    flex-grow: 1; 
}
 
::placeholder { 
    background: #69A1D0;
    color: white;
    font-style: italic;
   
  }
      
input, select, textarea{
    width: 300px;
    border: 1px solid white;
    background: transparent;
}